@font-face {
  font-family: Comfortaa; 
  src: url(../fonts/7fonts.ru_ComfortaaRegular.ttf);
}

* {
  box-sizing: border-box;  
}

a {
  text-decoration: none;
}             

.clearfix:after {
  content: "";
  display: table;
  clear: both;          
}

header {
  background: url(../img/main_bg.jpg) no-repeat;
  background-position: top center;
  min-height: 606px;
}

nav.header_menu {                         
  background-color: #c63a5c;
  text-align: center;
  box-shadow: rgba(255,255,255,.4) 0 0 0 1px;
  -moz-webkit-box-shadow: rgba(255,255,255,.4) 0 0 0 1px;
  -ms-webkit-box-shadow: rgba(255,255,255,.4) 0 0 0 1px;
  -o-webkit-box-shadow: rgba(255,255,255,.4) 0 0 0 1px;
  webkit-box-shadow: rgba(255,255,255,.4) 0 0 0 1px;
}

nav.header_menu ul li {
  text-align: center;
  display: inline-block;
  margin: 12px 0;
  padding: 0 35px;
  border-left: 1px dotted white;
}

nav.header_menu ul li a {
  font-family: "Century Gothic", CenturyGothic, Arial, AppleGothic, sans-serif;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

nav.header_menu a:hover {
  color: #e8ca30;
}

nav.header_menu ul li:first-child {
  padding-left: 0;
  border-left: none;
}

nav.header_menu ul li:last-child {
  padding-right: 0;
}   

.header_content {
  padding: 0 19.97%;
  position: relative;
}

.logo {
  margin-top: 50px;
  float: left;
}

.select_car {
position: absolute;
top: 300px;
left: 370px;
}

.select_car img {
  display: block;
}

.best_company {
  position: absolute;
  background: url(../img/gold-medal.png) no-repeat;
  left: 45%;
  transform: translateX(-45%);
  top: 20px;
  padding: 21px 0px 40px 65px;
  text-align: center;
  white-space: nowrap;
}

.best_company p {
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 12px;
  color: #14202c;
}

.urgent_call {
  position: absolute;
  background: url(../img/clock.png) no-repeat;
  left: 55%;
  transform: translateX(-55%);
  top: 20px;
  padding: 21px 0px 40px 65px;
  text-align: center;
  white-space: nowrap;
}

.info_centr {
  margin-top: 50px;
  display: inline-block;
  float: right;
  font-family: "Century Gothic", Arial, sans-serif;
  color: #4a4a4a;
}

.info_centr p:nth-child(1) {
  font-size: 12px;
  color: #006b98;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.info_centr p:nth-child(2) {
  font-size: 12px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.phone_number span:nth-child(2) {
  font-size: 21px;
  font-weight: bold;
}

.phone_number span:nth-child(3) {
  font-size: 32px;
  font-weight: bold;
}

.callback {
  display: inline-block;
  float: right;
  margin-top: 7px;
  border-bottom: 1px dashed #c63a5c;
}

#callback {
  font-size: 12px;
  color: #c63a5c;
  margin: 0;
  text-transform: none;
}

.callback:hover {
  border-bottom: none;
}