@import url(https://fonts.googleapis.com/css?family=Comfortaa);

* {
  box-sizing: border-box;  
}

a {
  text-decoration: none;
}             

.clearfix:after {
  content: "";
  display: table;
  clear: both;          
}

body {
	background: url(../img/background.png)  no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}

nav.header_menu {                         
  position: relative;
  padding: 0 19.95%;
  background-color: #c63a5c;
  text-align: center;
  position: relative;
}

nav.header_menu ul li {
  text-align: center;
  display: inline-block;
  margin: 12px 0;
  padding: 0 35px;
  border-left: 1px dotted white;
}

nav.header_menu ul li a {
  font-family: "Century Gothic", CenturyGothic, Arial, AppleGothic, sans-serif;
  color: white;
  font-size: 12px;
  text-transform: uppercase;
}

nav.header_menu a:hover {
  color: #e8ca30;
}

nav.header_menu ul li:first-child {
  padding-left: 0;
  border-left: none;
}

nav.header_menu ul li:last-child {
  padding-right: 0;
}   

.header_content {
  padding: 0 19.95%;
}

.left_group {
  display: inline-block;
  max-width: 25%;
}

.logo {
  float: left;
  padding: 20% 0;
  font-size: 32px;
}

.logo a {
  color: #336276;
}

.logo p {
  font-family: 'Comfortaa';
  display: inline-block;
}

.change_car {
  margin-top: 100px;
  display: inline-block;
}

.change_car a img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}   
